on:
  push:
    tags:
      - 'v*'

name: Create release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install cargo plugins
      run: cargo install cargo-rpm cargo-deb
    - name: Build binary
      run: cargo build --release
    - name: Build deb package
      run: cargo deb
    - name: Build rpm package
      run: cargo rpm build
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - name: Upload release binary
      id: upload-release-binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: target/release/netbox2netshot
        asset_name: netbox2netshot-${{ github.ref }}
        asset_content_type: application/octet-stream
    - name: Upload rpm package
      id: upload-release-binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: target/release/rpmbuild/RPMS/x86_64/*.rpm
        asset_name: netbox2netshot-${{ github.ref }}.rpm
        asset_content_type: application/octet-stream
    - name: Upload deb package
      id: upload-release-binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: target/debian/*.deb
        asset_name: netbox2netshot-${{ github.ref }}.deb
        asset_content_type: application/octet-stream
